@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section class="main-banner section-space">
        <div class="container">
            <h1>Influencer Marketing Made Easy</h1>
            <p>Find and hire top instagram, youtube and influencer to create unique content for your brand.</p>
        </div>
    </section>
    <section class="search-grp section-space">
        <div class="container">
            <div class="search-button-wrapper">
                <div class="search-button-group">
                    <button class="search-button any-btn">
                        <span class="icon">
                            <img src="../../../../assets/images/icons/Idea.png" />
                        </span>
                        Any
                    </button>
                    <button class="search-button instagram-btn">
                        <span class="icon">
                            <img src="../../../../assets/images/icons/instagram logo.png" />
                        </span>
                        Instagram
                    </button>
                    <button class="search-button youtube-btn">
                        <span class="icon">
                            <img src="../../../../assets/images/icons/youtube logo.png" />
                        </span>
                        YouTube
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="search section-space">
        <div class="container">
            <form class="search-form">
                <input type="text" placeholder="(Enter keywords, niches or category)" />
                <button type="button" class="search-button">Search</button>
            </form>
        </div>
    </section>

    <section class="content-grid section-space">
        <div class="container">
            <div class="flex-row">
                <div class="content-item">
                    <div class="content-item-inner">
                        <div class="content-item-heading">
                            <span class="icon">
                                <img src="../../../../assets//images/icons/Dollar Coin.png" />
                            </span>
                            <span class="name">No Upfront cost</span>
                        </div>
                        <p>
                            Lorem Ipsum is simply dummy
                            text of the printing and industry.
                            Lorem Ipsum has been the
                        </p>
                    </div>
                </div>
                <div class="content-item">
                    <div class="content-item-inner">
                        <div class="content-item-heading">
                            <span class="icon">
                                <img src="../../../../assets//images/icons/Team.png" />
                            </span>
                            <span class="name">
                                Verified
                                Influencers
                            </span>
                        </div>
                        <p>
                            Lorem Ipsum is simply dummy
                            text of the printing and industry.
                            Lorem Ipsum has been the
                        </p>
                    </div>
                </div>
                <div class="content-item">
                    <div class="content-item-inner">
                        <div class="content-item-heading">
                            <span class="icon">
                                <img src="../../../../assets//images/icons/Chat Room.png" />
                            </span>
                            <span class="name">
                                Instant
                                Chat
                            </span>
                        </div>
                        <p>
                            Lorem Ipsum is simply dummy
                            text of the printing and industry.
                            Lorem Ipsum has been the
                        </p>
                    </div>
                </div>
                <div class="content-item">
                    <div class="content-item-inner">
                        <div class="content-item-heading">
                            <span class="icon">
                                <img src="../../../../assets//images/icons/Bank Card Dollar.png" />
                            </span>
                            <span class="name">
                                Secure
                                Purchases
                            </span>
                        </div>
                        <p>
                            Lorem Ipsum is simply dummy
                            text of the printing and industry.
                            Lorem Ipsum has been the
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="influencer-section section-space">
        <div class="container">
            <h2 class="section-title"><span class="line"></span> Our Top Influencers</h2>
            <div class="">
                <div class="slider Influencers-slider">
                    <div>
                        <div class="influencer-item">
                            <div class="influencer-image">
                                <img src="../../../../assets//images/Neha.jpg" />
                            </div>
                            <div class="influencer-data">
                                <div class="border-line"></div>
                                <div class="content">
                                    <div class="name">
                                        Neha (Noida, India)
                                    </div>
                                    <div class="count">
                                        19.5k followers
                                    </div>
                                    <div class="icons">
                                        <a href="#">
                                            <img src="../../../../assets//images/icons/insta.png" />
                                        </a>
                                        <a href="#">
                                            <img src="../../../../assets//images/icons/x.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="influencer-item">
                            <div class="influencer-image">
                                <img src="../../../../assets//images/Neha.jpg" />
                            </div>
                            <div class="influencer-data">
                                <div class="border-line"></div>
                                <div class="content">
                                    <div class="name">
                                        Neha (Noida, India)
                                    </div>
                                    <div class="count">
                                        19.5k followers
                                    </div>
                                    <div class="icons">
                                        <a href="#">
                                            <img src="../../../../assets//images/icons/insta.png" />
                                        </a>
                                        <a href="#">
                                            <img src="../../../../assets//images/icons/x.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="influencer-item">
                            <div class="influencer-image">
                                <img src="../../../../assets//images/Neha.jpg" />
                            </div>
                            <div class="influencer-data">
                                <div class="border-line"></div>
                                <div class="content">
                                    <div class="name">
                                        Neha (Noida, India)
                                    </div>
                                    <div class="count">
                                        19.5k followers
                                    </div>
                                    <div class="icons">
                                        <a href="#">
                                            <img src="../../../../assets//images/icons/insta.png" />
                                        </a>
                                        <a href="#">
                                            <img src="../../../../assets//images/icons/x.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="influencer-item">
                            <div class="influencer-image">
                                <img src="../../../../assets//images/Neha.jpg" />
                            </div>
                            <div class="influencer-data">
                                <div class="border-line"></div>
                                <div class="content">
                                    <div class="name">
                                        Neha (Noida, India)
                                    </div>
                                    <div class="count">
                                        19.5k followers
                                    </div>
                                    <div class="icons">
                                        <a href="#">
                                            <img src="../../../../assets//images/icons/insta.png" />
                                        </a>
                                        <a href="#">
                                            <img src="../../../../assets//images/icons/x.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="influencer-item">
                            <div class="influencer-image">
                                <img src="../../../../assets//images/Neha.jpg" />
                            </div>
                            <div class="influencer-data">
                                <div class="border-line"></div>
                                <div class="content">
                                    <div class="name">
                                        Neha (Noida, India)
                                    </div>
                                    <div class="count">
                                        19.5k followers
                                    </div>
                                    <div class="icons">
                                        <a href="#">
                                            <img src="../../../../assets//images/icons/insta.png" />
                                        </a>
                                        <a href="#">
                                            <img src="../../../../assets//images/icons/x.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- online strategies Section-->
    <section class="online-strategies section-space">
        <div class="container">
            <h2 class="section-title"><span class="line"></span> Top Categories</h2>
            <div class="flex-row">
                <div class="strategies-item">
                    <div class="strategies-icon">
                        <img src="../../../../assets//images/icons/People in Car Side View.png" />
                    </div>
                    <p>Automobiles</p>
                </div>
                <div class="strategies-item">
                    <div class="strategies-icon">
                        <img src="../../../../assets//images/icons/Single Mother.png" />
                    </div>
                    <p>Comedy</p>
                </div>
                <div class="strategies-item">
                    <div class="strategies-icon">
                        <img src="../../../../assets//images/icons/Book And Pencil.png" />
                    </div>
                    <p>Education</p>
                </div>
                <div class="strategies-item">
                    <div class="strategies-icon">
                        <img src="../../../../assets//images/icons/Bank Card Euro.png" />
                    </div>
                    <p>Finance</p>
                </div>
                <div class="strategies-item">
                    <div class="strategies-icon">
                        <img src="../../../../assets//images/icons/Single Mother.png" />
                    </div>
                    <p>Parenting</p>
                </div>
                <div class="strategies-item">
                    <div class="strategies-icon">
                        <img src="../../../../assets//images/icons/Beautician.png" />
                    </div>
                    <p>Beauty</p>
                </div>
            </div>
        </div>
    </section>
    <section class="how-it-works section-space">
        <div class="container">
            <h2 class="section-title"><span class="line"></span>How It Works</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="work-list">
                        <div class="work-item">
                            <div class="work-image">
                                <img src="../../../../assets//images/Group1.png" />
                            </div>
                            <div class="work-content">
                                <div class="heading">Search Influencers</div>
                                <p>
                                    Search thousand of vetted instagram
                                    and YouTube influencers.
                                </p>
                            </div>
                        </div>
                        <div class="work-item">
                            <div class="work-image">
                                <img src="../../../../assets//images/Group2.png" />
                            </div>
                            <div class="work-content">
                                <div class="heading">Search Influencers</div>
                                <p>
                                    Search thousand of vetted instagram
                                    and YouTube influencers.
                                </p>
                            </div>
                        </div>
                        <div class="work-item">
                            <div class="work-image">
                                <img src="../../../../assets//images/Group 3.png" />
                            </div>
                            <div class="work-content">
                                <div class="heading">Search Influencers</div>
                                <p>
                                    Search thousand of vetted instagram
                                    and YouTube influencers.
                                </p>
                            </div>
                        </div>
                        <div class="work-item">
                            <div class="work-image">
                                <img src="../../../../assets//images/Group1.png" />
                            </div>
                            <div class="work-content">
                                <div class="heading">Search Influencers</div>
                                <p>
                                    Search thousand of vetted instagram
                                    and YouTube influencers.
                                </p>
                            </div>
                        </div>
                        <div class="work-item">
                            <div class="work-image">
                                <img src="../../../../assets//images/Group2.png" />
                            </div>
                            <div class="work-content">
                                <div class="heading">Search Influencers</div>
                                <p>
                                    Search thousand of vetted instagram
                                    and YouTube influencers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../../../../assets//images/GridImage.png" alt="image" class="w-100" />
                </div>
            </div>
        </div>
    </section>



    <!-- online strategies Section-->
    <section class="online-strategies section-space">
        <div class="container">
            <h2 class="section-title"><span class="line"></span>Our Online Strategies</h2>
            <div class="flex-row">
                <div class="strategies-item">
                    <div class="strategies-icon">
                        <img src="../../../../assets//images/icons/1.png" />
                    </div>
                    <p>Promote Reels</p>
                </div>
                <div class="strategies-item">
                    <div class="strategies-icon">
                        <img src="../../../../assets//images/icons/1.png" />
                    </div>
                    <p>Product Demo</p>
                </div>
                <div class="strategies-item">
                    <div class="strategies-icon">
                        <img src="../../../../assets//images/icons/2.png" />
                    </div>
                    <p>Product Unboxing</p>
                </div>
                <div class="strategies-item">
                    <div class="strategies-icon">
                        <img src="../../../../assets//images/icons/3.png" />
                    </div>
                    <p>Online Events</p>
                </div>
                <div class="strategies-item">
                    <div class="strategies-icon">
                        <img src="../../../../assets//images/icons/4.png" />
                    </div>
                    <p>Collab</p>
                </div>
            </div>
        </div>
    </section>

    <!-- FAQ Section-->
    <section class="faq section-space">
        <div class="container">
            <h2 class="section-title"><span class="line"></span>Frequently Asked Questions</h2>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What is Influencer Marketing?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Influencer marketing is a type of social media marketing that leverages individuals with
                            a strong online presence, known as
                            influencers, to promote products, services, or brands. Influencers have established
                            credibility and a loyal following in specific
                            niches, making them effective at reaching and engaging targeted audiences.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How Does Influencer Marketing Work?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Influencer marketing is a type of social media marketing that leverages individuals with
                            a strong online presence, known as
                            influencers, to promote products, services, or brands. Influencers have established
                            credibility and a loyal following in specific
                            niches, making them effective at reaching and engaging targeted audiences.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Why Is Influencer Marketing Important?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Influencer marketing is a type of social media marketing that leverages individuals with
                            a strong online presence, known as
                            influencers, to promote products, services, or brands. Influencers have established
                            credibility and a loyal following in specific
                            niches, making them effective at reaching and engaging targeted audiences.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ Section-->
</main>
