


<h2 class="section-title"><span class="line"></span>Register as Influencer</h2>
<div class="card">
    <button class="btn btn-google w-100 mb-3">
        <img src="../../assets/images/icons/google logo.png"
             alt="Google Logo">
        Register Using Google
    </button>
    <div class="divider"><span>OR</span></div>

    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="txtInfluencerFirstName">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="txtInfluencerLastName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="txtInfluencerEmail">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="mb-3">
                <label for="mobile" class="form-label">Mobile No</label>
                <input type="text" class="form-control" id="txtInfluencerMobile">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="txtInfluencerPassword">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="terms">
                <label class="form-check-label" for="terms">
                    I have read and accepted the <a href="#" class="text-decoration-none">
                        Terms and
                        Conditions
                    </a>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="button" class="btn btn-primary" id="btnSaveNewInfluencer" value="Register" />
        </div>
    </div>

    <p class="text-center mt-3 form-link">
        <a href="#">Already have an account? Click here to login</a>
    </p>
</div>






