form{
    .form-label{
        color: #595959;
        text-align: center;
        font-family: "Source Sans 3", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
    }
    .form-control{
        border: 0;
        border-bottom: 1px solid #979797;
        color: #595959;
        padding:  0 5px;
        border-radius: 0;
    }
    .form-check{
        color: #595959;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        display: flex;
        align-items: center;
        .form-check-input{
            margin-right: 10px;
            border-color: #D11A6C;
            width: 20px;
            height: 20px;
        }
        a{
            color: #D11A6C;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}


.btn-primary{
    min-width: 164px;
    height: 40px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brandColor);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    transition: all 0.5s ease-in-out;
    border: none;
    padding: 0 10px;
    margin: 0 auto;
    &:hover{
        opacity: 0.75;
    }
}