<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a class="navbar-brand" href="index.html">
                    <img src="../assets/images/logo.png" alt="logo-url">
                </a>
            </div>
            <div class="col-lg-8">
                <div class="flex-row">
                    <ul class="main-menu">
                        <li>
                            <a href="#" class="active">How it works</a>
                        </li>
                        <li>
                            <a href="#">Login</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Join as brand</a>
                        </li>
                    </ul>
                    <a class="btn" href="#">Join as Creator</a>
                </div>
            </div>
        </div>
    </div>
</header>